<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xfc.mapper.MemberMapper">
    <select id="getMember" parameterType="long" resultType="com.github.xfc.base.Member">
        select * from t_member where by id=#{id}
    </select>
</mapper>